:root {
    --breakpoint-xs: 36em;
    --breakpoint-sm: 48em;
    --breakpoint-md: 62em;
    --breakpoint-lg: 70em;
    --breakpoint-xl: 88em;
    --breakpoint-xxl: 101em;
    --breakpoint-xxxl: 120em;
    --breakpoint-zl: 140em;
}