.channel_wrapper {
    padding: 7px;
    margin-left: 10px;

    &:hover {
        background-color: light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-5));;
    }
}


.navbar {
    display: flex;
    flex-direction: column;
}

.collapsed {
    margin-left: 15px;
}

.icon_group {
    & svg {
        transition: color 0.3s ease, transform 0.6s ease;
    }
}

.icon_group_expanded {
    & svg {
        transform: rotate(-90deg);
    }
}